
*{
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-size: 100% 20%;
    background-position: bottom;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    
}
.logo{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}
.menu span{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 20px ;
    margin: 5px;
    border-radius: 20px 0px 20px 0px ;
}
.container{
    background-image: url('./pexels-tbee-82256.jpg') ;
    display: flex;
    height: 400px;

    
}
.heading{
    display: flex;
    margin-top: 150px;
    margin-left: 100px ;
}
.bottom{
    margin-bottom: 0px;
}
.bimg{
    height: 100px;
    width: 1270px;
}
